body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  outline: transparent;
}

.social__trumb {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition: fill 250ms var cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__trumb, .social__link:focus .social__trumb {
  fill: #ffffff;
}

.header {
  border: 1px #ececec;
  border-bottom-style: solid;
}

.header-flex,
.nav-list,
.contact-list {
  display: flex;
}

.header-flex {
  align-items: center;
}

.link,
.link:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link:hover .icon-hover,
.link:focus .icon-hover {
  fill: currentColor;
}

.link.current {
  color: #2196f3;
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo--alt-color {
  color: #000000;
}

.footer_logo--alt-color {
  color: #ffffff;
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav-list {
  margin-left: 93px;
}

.nav-list__item {
  display: block;
}

.nav-list__item:not(:first-child) {
  margin-left: 50px;
}

.contact-list {
  margin-left: auto;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-icon-tel, .contact-icon-envelope {
  fill: #757575;
  margin-right: 10px;
}

.contact-icon-envelope {
  width: 16px;
  height: 12px;
}

.contact-icon-tel {
  width: 10px;
  height: 16px;
}

.contact-list__item:not(:first-child) {
  margin-left: 50px;
}

.hero {
  padding: 200px 0px;
  /* background-color: var(--dark-bg-color); */
}

.hero-img {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.features {
  display: flex;
  gap: 30px;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.gallery-section {
  padding-top: 0;
}

.gallery__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.gallery__item {
  position: relative;
}

.gallery__text-cont {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.gallery__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team {
  display: flex;
  justify-content: center;
}

.team__container {
  padding: 30px 0px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__item {
  max-width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */